[run]
source = moodlefuse

omit =
    *__init__*
    *__main__*
    moodlefuse/configure.py
    moodlefuse/model_manager.py
    moodlefuse/core.py

[report]
exclude_lines =
    if 0:
    if __name__ == .__main__.:

ignore_errors = True